.taskList {
    list-style: none;
    padding: 25px 10px;
    margin: 0 auto;
    border-top: 1px solid #dddddd;
}

.taskList__element {
    padding: 10px;
    border-bottom: 1px solid #dddddd;
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    align-items: center;
    grid-gap: 15px;
}

.taskList__element--hidden {
    display: none;
}

.taskList__text {
    word-break: break-all;
}

.taskList__text--done {
    text-decoration: line-through rgb(0, 0, 0);
}

.taskList__button {
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    transition: 1s;
}

.taskList__button--done {
    background-color: #008000;
}

.taskList__button--done:hover {
    background-color: #009900;
    cursor: pointer;
}

.taskList__button--done:active {
    border: 2px solid #000000;
    background-color: #00b300;
}

.taskList__button--remove {
    background-color: #dc143c;
}

.taskList__button--remove:hover {
    background-color: #ea1f48;
    cursor: pointer;
}

.taskList__button--remove:active {
    border: 2px solid #000000;
    background-color: #ec365b;
}