.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 25px;
    margin: 15px;
}

@media(max-width: 767px) {
    .buttons {
        grid-template-columns: 1fr;
        margin: 25px;
    }
}

.buttons__button {
    border: none;
    color: hsl(180, 100%, 20%);
    background-color: transparent;
    transition: 1s;
}

.buttons__button:hover {
    color: hsl(180, 100%, 40%);
    cursor: pointer;
}

.buttons__button:active {
    color: hsl(180, 100%, 50%);
}

.buttons__button:disabled {
    color: hsl(0, 0%, 70%);
}